<app-menu></app-menu>


<section class="content">
    <div class="container-fluid">

        <body>
            <div class="card" style="background-color:#fff; padding: 20px;">


                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-pink hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">trending_up</i>
                            </div>
                            <div class="content">
                                <div class="text">LO MAS VENDIDO: {{max.nombre}}</div>
                                <div class="number count-to" data-from="0" data-to="125" data-speed="15"
                                    data-fresh-interval="20">{{max.cantidad}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-cyan hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">trending_down</i>
                            </div>
                            <div class="content">
                                <div class="text">LO MENOS VENDIDO: {{min.nombre}}</div>
                                <div class="number count-to" data-from="0" data-to="257" data-speed="1000"
                                    data-fresh-interval="20"> {{min.cantidad}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-light-green hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">restore</i>
                            </div>
                            <div class="content">
                                <div class="text">NO ENTREGADOS a Tiempo</div>
                                <div class="number count-to" data-from="0" data-to="243" data-speed="1000"
                                    data-fresh-interval="20">{{noatiempo.length}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-orange hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">remove_shopping_cart</i>
                            </div>
                            <div class="content">
                                <div class="text">PEDIDOS CANCELADOS</div>
                                <div class="number count-to" data-from="0" data-to="1225" data-speed="1000"
                                    data-fresh-interval="20">{{cancelados.length}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix"><div class="col-lg-2 col-md-2 col-sm-2"></div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <h3>PRODUCTO / CANTIDAD</h3>
                        <div class="chart-wrapper">
                            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
                                [chartType]="doughnutChartType">
                            </canvas>
                        </div>

                    </div>
                </div>
            </div>
        </body>
    </div>
</section>