<app-menu></app-menu>


<section class="content">

<app-estado-pedido-cliente *ngIf="(pedidoServicio.codigoEntregado != ' ' && (this.authservicio.usuarioLoguiado.perfil == 'Cliente' || this.authservicio.usuarioLoguiado.perfil == 'Anonimo')) || (pedidoServicio.ultimoPedido != undefiend && this.authservicio.usuarioLoguiado.perfil == 'Cliente')"></app-estado-pedido-cliente>

<div class="container-fluid" style="background-color:#e9e9e9;">
          
          <div class="panel-group" id="accordion6" role="tablist" aria-multiselectable="true">
                <h2 *ngIf="iniciado">INICIADO</h2>
                <div *ngFor="let pedidoI of pedidos | estado : 'iniciado'; let a = index"
                [appSegunPerfil]="{pedido: pedidoI, estado: 'iniciado'}" >
    
                    <div class="panel panel-info">
                        <div *ngIf="pedidoI.estado == 'iniciado'" class="panel-heading panel panel-col-yellow" role="tab"
                            id="heading{{pedidoI.codigo}}a">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion6" [attr.href]="'#a'+a"
                                    aria-expanded="true" [attr.aria-controls]="'collapse'+pedidoI.codigo">
                                    <div class="row clearfix">
                                        <div class="col-sm-3 p-t-5 "><i class="material-icons">control_point</i>
                                            <b>codigo:</b>{{pedidoI.codigo}}</div>
                                        <div class="col-sm-3 p-t-5"><b>Cliente:</b>{{pedidoI.cliente.nombre}}</div>
                                        <div class="col-sm-3 p-t-5 p-b-5"><b>
                                                Mesa:</b>{{pedidoI.mesas[0].numero}}</div>
                                       
                                    </div>
                                </a>
                            </h4>
                        </div>
                        <div *ngIf="pedidoI.estado == 'iniciado'" id="a{a}}" class="panel-collapse" role="tabpanel"
                            [attr.aria-labelledby]="'heading'+pedidoI.codigo+'a'">
    
                            <div class="panel-body">
    
                                <div class="col-lg-6 m-t-15 p-20">
    
                                    <h4 style="border-bottom: #666 dotted 1px; ">Detalle Pedido</h4>
    
                                    <table class="table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Cant.</th>
                                                <th>Importe</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let productoPedido of pedidoI.productos ">
    
                                                <td>{{productoPedido.nombre}}</td>
                                                <td>{{productoPedido.cantidad}}</td>
                                                <td>{{productoPedido.monto}}</td>
                                             
    
                                            </tr>
    
                                            <tr>
                                                <th>Total</th>
                                                <th></th>
                                                <th>${{pedidoI.importe_total}}</th>
                                            </tr>
                                        </tbody>
    
    
                                    </table>
    
                                </div>
                                <div class="col-lg-6 m-t-15 p-20">
                                <button *ngIf="perfil == 'Mozo'  || perfil == 'Admin'" type="button"
                                        class="btn btn-block bg-danger waves-effect"
                                        (click)="CancelarPedidoRealizado2(pedidoI)">
                                        Cancelar Pedido INICIADO
                                    </button>
                                    <button *ngIf="perfil == 'Mozo'" type="button"
                                        class="btn btn-block bg-cyan waves-effect"
                                        (click)="pedidoI.mozo = usuario;TomarPedidoIniciado(pedidoI)">
                                        Tomado Pedido
                                    </button>
    
                                  
    
    
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
           <h2  *ngIf="pendientes" >PENDIENTES</h2>
            <div *ngFor="let pedidoP of pedidos; let i = index"
                [appSegunPerfil]="{pedido: pedidoP, estado: 'pendiente'}">
                <div class="panel panel-info">
                    <div  class="panel-heading panel panel-col-teal" role="tab"
                        id="heading{{pedidoP.codigo}}i">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion1" [attr.href]="'#'+i"
                                aria-expanded="false" [attr.aria-controls]="'collapse'+pedidoP.codigo">
                                <div class="row clearfix">
                                    <div class="col-sm-3 p-t-5 "><i class="material-icons">control_point</i>
                                        <b>codigo:</b>{{pedidoP.codigo}}</div>
                                    <div class="col-sm-3 p-t-5"><b>Cliente:</b>{{pedidoP.cliente.nombre}}</div>
                                    <div class="col-sm-3 p-t-5 p-b-5"><b>
                                            Mesa:</b>{{pedidoP.mesas[0].numero}}</div>
                                    <div class="col-sm-3"><b>Tiempo
                                            Estimado:</b>{{pedidoP.tiempo_estimado}} Fecha:{{pedidoP.fecha | dateFormat}}</div>
                                </div>
                            </a>
                        </h4>
                    </div>
                    <div  id="{{i}}" class="panel-collapse collapse" role="tabpanel"
                        [attr.aria-labelledby]="'heading'+pedidoP.codigo+'i'">

                        <div class="panel-body">

                            <div *ngIf="modificar == -1">

                                <div class="col-lg-6 m-t-15 p-20">

                                    <h4 style="border-bottom: #666 dotted 1px; ">Detalle Pedido - Mozo: {{pedidoP.mozo.nombre}}</h4>

                                    <table class="table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Cant.</th>
                                                <th *ngIf="perfil == 'Mozo' || perfil == 'Admin'">Importe</th>
                                                <th>Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="perfil == 'Mozo' || perfil == 'Admin'">
                                            <tr *ngFor="let productoPedido of pedidoP.productos">

                                                <td>{{productoPedido.nombre}}</td>
                                                <td>{{productoPedido.cantidad}}</td>
                                                <td>{{productoPedido.monto}}</td>
                                                <td>{{productoPedido.estado}}</td>
                                            </tr>

                                            <tr>
                                                <th>Total</th>
                                                <th></th>
                                                <th>${{pedidoP.importe_total}}</th>
                                            </tr>
                                        </tbody>

                                        <tbody *ngIf="perfil == 'Cocinero' || perfil == 'Bartender'">
                                            <tr *ngFor="let productoPedido of pedidoP.productos">

                                                <td>{{productoPedido.nombre}}</td>
                                                <td>{{productoPedido.cantidad}}</td>
                                                <td>{{productoPedido.estado}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div class="col-lg-6 m-t-15 p-20">
                                    <button *ngIf="perfil == 'Mozo' || perfil == 'Admin'" type="button"
                                        class="btn btn-block bg-danger waves-effect"
                                        (click)="CancelarPedidoRealizado2(pedidoP)">
                                        Cancelar Pedido PENDIENTE
                                    </button>
                                    <button *ngIf="perfil == 'Mozo' || perfil == 'Admin'" type="button"
                                        class="btn btn-block bg-cyan waves-effect" (click)="modificar=i">
                                        Modificar Pedido
                                    </button>

                                    <!--para cocineros/batender -->

                                    <div *ngIf="perfil == 'Cocinero' || perfil == 'Bartender'" class="form-group">
                                        <h4>Estimar tiempo</h4>En minutos
                                        <input type="radio" name="tiempo{{pedidoP.codigo}}"
                                            id="10tiempo{{pedidoP.codigo}}" [value]="10" [(ngModel)]="tiempo_estimado"
                                            [ngModelOptions]="{standalone: true}" class="with-gap">
                                        <label for="10tiempo{{pedidoP.codigo}}" checked>10</label>

                                        <input type="radio" name="tiempo{{pedidoP.codigo}}"
                                            id="15tiempo{{pedidoP.codigo}}" [value]="15" [(ngModel)]="tiempo_estimado"
                                            [ngModelOptions]="{standalone: true}" class="with-gap">
                                        <label for="15tiempo{{pedidoP.codigo}}" class="m-l-20">15</label>

                                        <input type="radio" name="tiempo{{pedidoP.codigo}}"
                                            id="20tiempo{{pedidoP.codigo}}" [value]="20" [(ngModel)]="tiempo_estimado"
                                            [ngModelOptions]="{standalone: true}" class="with-gap">
                                        <label for="20tiempo{{pedidoP.codigo}}" class="m-l-20">20</label>

                                        <input type="radio" name="tiempo{{pedidoP.codigo}}"
                                            id="30tiempo{{pedidoP.codigo}}" [value]="30" [(ngModel)]="tiempo_estimado"
                                            [ngModelOptions]="{standalone: true}" class="with-gap">
                                        <label for="30tiempo{{pedidoP.codigo}}" class="m-l-20">30</label>

                                        <input type="radio" name="tiempo{{pedidoP.codigo}}"
                                            id="45tiempo{{pedidoP.codigo}}" [value]="45" [(ngModel)]="tiempo_estimado"
                                            [ngModelOptions]="{standalone: true}" class="with-gap">
                                        <label for="45tiempo{{pedidoP.codigo}}" class="m-l-20">45</label>

                                        <input type="radio" name="tiempo{{pedidoP.codigo}}"
                                            id="60tiempo{{pedidoP.codigo}}" [value]="60" [(ngModel)]="tiempo_estimado"
                                            [ngModelOptions]="{standalone: true}" class="with-gap">
                                        <label for="60tiempo{{pedidoP.codigo}}" class="m-l-20">60</label>
                                    </div>
                                    <button *ngIf="perfil == 'Cocinero' || perfil == 'Bartender'" type="submit"
                                        class="btn btn-block bg-cyan waves-effect"
                                        (click)="tomarPedido(pedidoP, tiempo_estimado)">
                                        Tomar Pedido
                                    </button>
                                </div>
                            </div>
                            <app-modificar-pedido *ngIf="modificar==i" [modificar]="modificar" [pedido]="pedidoP" (seModifico)="modificado($event)"></app-modificar-pedido>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
            <h2 *ngIf="enpreparacion">EN PREPARACION</h2>
            <div *ngFor="let pedido of pedidos; let x = index "
                [appSegunPerfil]="{pedido: pedido, estado: 'en preparación'}">

                <div class="panel panel-info">
                    <div class="panel-heading panel panel-col-pink" role="tab" id="heading{{pedido.codigo}}x">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion2" [attr.href]="'#e'+i"
                                aria-expanded="true" [attr.aria-controls]="'collapse'+pedido.codigo">
                                <div class="row clearfix">
                                    <div class="col-sm-3 p-t-5 "><i class="material-icons">control_point</i>
                                        <b>codigo:</b>{{pedido.codigo}}</div>
                                    <div class="col-sm-3 p-t-5"><b>Cliente:</b>{{pedido.cliente.nombre}}</div>
                                    <div class="col-sm-3 p-t-5 p-b-5"><b>
                                            Mesa:</b>{{pedido.mesas[0].numero}}</div>
                                    <div *ngIf="pedido.tiempo_estimado > 0" class="col-sm-3"><b>Entrega
                                            Estimada:</b>{{addMinutes(pedido.fechaTomado, pedido.tiempo_estimado) | dateFormat }}</div>
                                </div>
                            </a>
                        </h4>
                    </div>
                    <div id="e{{x}}" class="panel-collapse" role="tabpanel"
                        [attr.aria-labelledby]="'heading'+pedido.codigo+'x'">

                        <div class="panel-body">

                            <div *ngIf="modificar == -1">

                                <div class="col-lg-6 m-t-15 p-20">

                                    <h4 style="border-bottom: #666 dotted 1px; ">Detalle Pedido </h4>

                                    <table class="table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Cant.</th>
                                                <th *ngIf="perfil == 'Mozo'">Importe</th>
                                                <th>Estado</th>
                                                <th *ngIf="perfil == 'Cocinero' || perfil == 'Bartender'">indicar si
                                                    está Listo para servir</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                *ngFor="let productoPedido of pedido.productos; let k = index">

                                                <td>{{productoPedido.nombre}}</td>
                                                <td>{{productoPedido.cantidad}}
                                                </td>

                                                <td *ngIf="perfil == 'Mozo'">{{productoPedido.monto}}</td>
                                                <td>{{productoPedido.estado}}</td>
                                                <td
                                                    *ngIf="productoPedido.empleado != underfiend && productoPedido.empleado.email == authservice.usuarioLoguiado.email">
                                                    <form ><input type="checkbox"
                                                            id="nro_{{x}}{{k}}"
                                                            (change)="productoPedido.estado='listo para servir';ModificarPedido(pedido)"
                                                            class="filled-in"><label
                                                            for="nro_{{x}}{{k}}"></label>
                                                    </form>
                                                </td>
                                                

                                            </tr>

                                            <tr *ngIf="perfil == 'Mozo'">
                                                <th>Total
                                                </th>
                                                <th></th>


                                            </tr>
                                        </tbody>
                                    </table>
                                     
                                </div>
                                <div class="col-lg-6 m-t-15 p-20">
                                    <button *ngIf="perfil == 'Mozo' || perfil == 'Admin'" type="button"
                                    class="btn btn-block bg-danger waves-effect"
                                    (click)="CancelarPedidoRealizado2(pedido)">
                                    Cancelar Pedido
                                </button>
                                <button *ngIf="perfil == 'Mozo' || perfil == 'Admin'" type="button"
                                    class="btn btn-block bg-cyan waves-effect" (click)="modificar=x">
                                    Modificar Pedido
                                </button>
                                </div>
                                   
                            </div>
                                
                        </div>
                        <app-modificar-pedido *ngIf="modificar==x" [modificar]="modificar" [pedido]="pedido" (seModifico)="modificado($event)"></app-modificar-pedido>
                        
                    </div>
                </div>
            </div>
        </div>



        <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
            <h2 *ngIf="listoparaservir">LISTO PARA SERVIR</h2>
            <div *ngFor="let pedido of pedidos; let j = index  "
                [appSegunPerfil]="{pedido: pedido, estado: 'listo para servir'}">

                <div class="panel panel-info">
                    <div  class="panel-heading panel panel-col-red"
                        role="tab" id="heading{{pedido.codigo}}j">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion3" [attr.href]="'#j'+j"
                                aria-expanded="true" [attr.aria-controls]="'collapse'+pedido.codigo">
                                <div class="row clearfix">
                                    <div class="col-sm-3 p-t-5 "><i class="material-icons">control_point</i>
                                        <b>codigo:</b>{{pedido.codigo}}</div>
                                    <div class="col-sm-3 p-t-5"><b>Cliente:</b>{{pedido.cliente.nombre}}</div>
                                    <div class="col-sm-3 p-t-5 p-b-5"><b>
                                            Mesa:</b>{{pedido.mesas[0].numero}}</div>
                                    <div *ngIf="pedido.tiempo_estimado !=0" class="col-sm-3"><b>Tiempo
                                            Desde:</b>{{pedido.fechaListo | dateFormat }}</div>
                                </div>
                            </a>
                        </h4>
                    </div>
                    <div  id="j{{j}}" class="panel-collapse" role="tabpanel"
                        [attr.aria-labelledby]="'heading'+pedido.codigo+'j'">

                        <div class="panel-body">

                            <div *ngIf="modificar == -1">

                                <div class="col-lg-6 m-t-15 p-20">

                                    <h4 style="border-bottom: #666 dotted 1px; ">Detalle Pedido Detalle Pedido - Mozo: {{pedido.mozo.nombre}}</h4>

                                    <table class="table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Cant.</th>
                                                <th>Estado</th>
                                                <th *ngIf="perfil == 'Mozo'">indicar si está servido</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let productoPedido of pedido.productos; let l = index">

                                                <td>{{productoPedido.nombre}}</td>
                                                <td>{{productoPedido.cantidad}}
                                                </td>
                                                <td>{{productoPedido.estado}}</td>
                                                <td *ngIf="perfil == 'Mozo'">
                                                    <form id="dataForm" onsubmit="return false"><input type="checkbox"
                                                            id="nro_{{j}}{{l}}"
                                                            (change)="productoPedido.estado='servido';ModificarPedido(pedido)"
                                                            class="filled-in"><label
                                                            for="nro_{{j}}{{l}}"></label>
                                                    </form>
                                                </td>
                                            

                                            </tr>


                                        </tbody>
                                    </table>

                                </div>
                                <div class="col-lg-6 m-t-15 p-20">
                                    <button *ngIf="perfil == 'Mozo' || perfil == 'Admin'" type="button"
                                    class="btn btn-block bg-danger waves-effect"
                                    (click)="CancelarPedidoRealizado2(pedido)">
                                    Cancelar Pedido
                                </button>
                                <button *ngIf="perfil == 'Mozo' || perfil == 'Admin'" type="button"
                                    class="btn btn-block bg-cyan waves-effect" (click)="modificar=j">
                                    Modificar Pedido
                                </button>
                                </div>
                                   
                            </div>
                            <app-modificar-pedido *ngIf="modificar==j" [modificar]="modificar" [pedido]="pedido" (seModifico)="modificado($event)"></app-modificar-pedido>
                               
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">
            <h2 *ngIf="servido">SERVIDO</h2>
            <div *ngFor="let pedido of pedidos; let f = index"
                [appSegunPerfil]="{pedido: pedido, estado: 'servido'}">

                <div class="panel panel-info">
                    <div  class="panel-heading panel panel-col-orange" role="tab"
                        id="heading{{pedido.codigo}}f">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion4" [attr.href]="'#f'+f"
                                aria-expanded="true" [attr.aria-controls]="'collapse'+pedido.codigo">
                                <div class="row clearfix">
                                    <div class="col-sm-3 p-t-5 "><i class="material-icons">control_point</i>
                                        <b>codigo:</b>{{pedido.codigo}}</div>
                                    <div class="col-sm-3 p-t-5"><b>Cliente:</b>{{pedido.cliente.nombre}}</div>
                                    <div class="col-sm-3 p-t-5 p-b-5"><b>
                                            Mesa:</b>{{pedido.mesas[0].numero}}</div>
                                    <div *ngIf="pedido.tiempo_estimado !=0" class="col-sm-3"><b>Tiempo
                                            Estimado:</b>{{pedido.tiempo_estimado}}</div>
                                </div>
                            </a>
                        </h4>
                    </div>
                    <div  id="f{{f}}" class="panel-collapse collapse" role="tabpanel"
                        [attr.aria-labelledby]="'heading'+pedido.codigo+'f'">

                        <div class="panel-body">

                            <div class="col-lg-6 m-t-15 p-20">

                                <h4 style="border-bottom: #666 dotted 1px; ">Detalle Pedido Detalle Pedido - Mozo: {{pedido.mozo.nombre}}</h4>

                                <table class="table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Cant.</th>
                                            <th>Importe</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let productoPedido of pedido.productos">

                                            <td>{{productoPedido.nombre}}</td>
                                            <td>{{productoPedido.cantidad}}</td>
                                            <td>{{productoPedido.monto}}</td>

                                        </tr>

                                        <tr>
                                            <th>Total</th>
                                            <th></th>
                                            <th>${{pedido.importe_total}}</th>
                                        </tr>
                                    </tbody>


                                </table>

                            </div>
                            <div class="col-lg-6 m-t-15 p-20">
                                <button *ngIf="perfil == 'Mozo'" type="button"
                                    class="btn btn-block bg-danger waves-effect"
                                    (click)="CancelarPedidoRealizado2(pedido)">
                                    Cancelar Pedido
                                </button>
                                <button *ngIf="perfil == 'Mozo'" type="button"
                                    class="btn btn-block bg-cyan waves-effect"
                                    (click)="pedido.estado = 'finalizado';finalizarPedido(pedido)">
                                    Finalizar Pedido
                                </button>

                                <!--para cocineros/batender -->
                                <button *ngIf="perfil == 'Mozo' || perfil == 'Admin'" type="button"
                                class="btn btn-block bg-cyan waves-effect" (click)="modificar=f">
                                Modificar Pedido
                            </button>
                            </div>
                               
                        </div>
                        <app-modificar-pedido *ngIf="modificar==f" [modificar]="modificar" [pedido]="pedido" (seModifico)="modificado($event)"></app-modificar-pedido>
                           
                    </div>
                </div>
            </div>
        </div>


        
        <div class="panel-group" id="accordion5" role="tablist" aria-multiselectable="true">
            <h2 *ngIf="finalizado">FINALIZADO</h2>
            <div *ngFor="let pedido of pedidos; let s = index"
                [appSegunPerfil]="{pedido: pedido, estado: 'finalizado'}">

                <div class="panel panel-info">
                    <div *ngIf="pedido.estado == 'finalizado'" class="panel-heading panel panel-col-purple" role="tab"
                        id="heading{{pedido.codigo}}s">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion5" [attr.href]="'#s'+s"
                                aria-expanded="true" [attr.aria-controls]="'collapse'+pedido.codigo">
                                <div class="row clearfix">
                                    <div class="col-sm-3 p-t-5 "><i class="material-icons">control_point</i>
                                        <b>codigo:</b>{{pedido.codigo}}</div>
                                    <div class="col-sm-3 p-t-5"><b>Cliente:</b>{{pedido.cliente.nombre}}</div>
                                    <div class="col-sm-3 p-t-5 p-b-5"><b>
                                            Mesa:</b>{{pedido.mesas[0].numero}}</div>
                                    <div *ngIf="pedido.tiempo_estimado !=0" class="col-sm-3"><b>Tiempo
                                            Estimado:</b>{{pedido.tiempo_estimado}}</div>
                                </div>
                            </a>
                        </h4>
                    </div>
                    <div *ngIf="pedido.estado == 'finalizado'" id="s{{s}}" class="panel-collapse collapse" role="tabpanel"
                        [attr.aria-labelledby]="'heading'+pedido.codigo+'s'">

                        <div class="panel-body" >

                            <div class="col-lg-6 m-t-15 p-20" id="pdfTable" #pdfTable>

                                <h4 style="border-bottom: #666 dotted 1px; ">Detalle Pedido Detalle Pedido - Mozo: {{pedido.mozo.nombre}}</h4>

                                <table class="table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Cant.</th>
                                            <th>Importe</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let productoPedido of pedido.productos ">

                                            <td>{{productoPedido.nombre}}</td>
                                            <td>{{productoPedido.cantidad}}</td>
                                            <td>{{productoPedido.monto}}</td>

                                        </tr>

                                        <tr>
                                            <th>Total</th>
                                            <th></th>
                                            <th>${{pedido.importe_total}}</th>
                                        </tr>
                                    </tbody>


                                </table>

                                <div> <button  (click)="downloadAsPDF()">Descargar PDF</button></div>
                            </div>
                          
                            


                            </div>

                            <div class="col-lg-6 m-t-15 p-20">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>










</section>