<div class="body m-l-35  m-r-35   ">
    <h4>MESAS DISPONIBLES </h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Número</th>
                <th>Comensales</th>
                <th>ocupar/desocupar</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mesa of mesas | estado: 'libre'">
                <td> <img src="{{mesa.foto}}" style="width: 100px;"></td>
                <td>{{mesa.numero}}</td>
                <td>{{mesa.comensales}}</td>
                <td>
                    <button type="button" *ngIf="mesa.habilitada" (click)="tomar(mesa)"
                        class="btn btn-default waves-effect m-r-20">
                        <i class="material-icons">add_circle</i></button>
                    <button *ngIf="!mesa.habilitada" (click)="liberar(mesa)"
                        class="btn btn-default waves-effect m-r-20"> <i
                            class="material-icons">remove_circle</i></button>
                        </td>
            </tr>
        </tbody>
    </table>
</div>