<div >


    <div class="row clearfix">
        <div class="col-lg-6 m-t-15 p-20">
            <h4 style="border-bottom: #666 dotted 1px; ">Detalle Pedido - Mozo: {{pedido.mozo.nombre}}</h4>

            <table class="table-condensed">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>und.</th>
                        <th>Cant.</th>
                        <th>Importe</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let productoPedido of pedido.productos">

                        <td>{{productoPedido.nombre}}</td>
                        <td>{{productoPedido.costo}}</td>
                        <td>{{productoPedido.cantidad}}</td>
                        <td>{{productoPedido.monto}}</td>
                        <td><button type="button" class="btn btn-small waves-effect"
                                (click)="quitarProductoPedido(pedido, productoPedido)">
                                <i class="material-icons">remove_circle</i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button"
                class="btn btn-block bg-cyan waves-effect m-r-20 m-t-20 m-b-20"
                role="button" data-toggle="collapse" data-parent="#accordion_202"
                [attr.href]="'#'+pedido.codigo" aria-expanded="true"
                [attr.aria-controls]="'collapse'+pedido.codigo"
                (click)="pedido.estado = 'pendiente';ModificarPedido(pedido)">
                Confirmar modificar Pedido ${{pedido.importe_total}}
            </button>
            <button type="button"
                class="btn btn-block bg-default waves-effect m-r-20 m-t-20 m-b-20"
                (click)="CancelarModificarPedido()">
                Cancelar Modificar Pedido
            </button>
        </div>

        <div class="col-lg-6" style="background-color:#fff;"
            style="overflow-y:scroll;  height:40vh; overflow: -moz-scrollbars-vertical;">
            <div href="javascript:void(0);" class="list-group-item">
                <div class="block-header">
                    <h2>MENU</h2>
                    <h4><button class="label label-success" (click)="categoria='Entrada'">Entradas</button>
                        <button class="label label-success" (click)="categoria='Plato'">Platos</button>
                        <button class="label label-success" (click)="categoria='Bebida'">Bebidas</button>
                        <button class="label label-success" (click)="categoria='Postre'">Postres</button>
                    </h4>
                </div>
            </div>
            <form novalidate #form="ngForm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Producto</th>
                            <th>Agregar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of productos | categorias: categoria">

                            <td> <img src="{{producto.URL}}" style="width: 50px;"></td>
                            <td>{{producto.nombre}}<br>${{producto.costo}}</td>

                            <td><button type="button"
                                    class="btn btn-default waves-effect m-r-20"
                                    data-toggle="modal"
                                    [attr.data-target]="'#' +producto.codigo"> <i
                                        class="material-icons">add_circle</i></button>
                            </td>



                            <div class="modal fade" id="{{producto.codigo}}" tabindex="-1"
                                role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <h3 class="modal-title" id="defaultModalLabel">
                                                {{producto.nombre}}</h3>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <figure>
                                                        <img src="{{producto.URL}}"
                                                            style="height: 300px;">
                                                    </figure>
                                                </div>
                                                <div class="col-lg-6">
                                                    {{producto.descripcion}}
                                                    <div class="price m-t-15 m-b-15 ">
                                                        <span>${{producto.costo}}</span>
                                                    </div>

                                                    <strong>Cantidad</strong>
                                                    <td><input type="number"
                                                            id={{producto.nombre}}
                                                            name={{producto.nombre}}
                                                            placeholder="1" value="1" min=1
                                                            max=50
                                                            [(ngModel)]="producto.cantidad"
                                                            [ngModelOptions]="{standalone: true}">

                                                </div>
                                            </div>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                class="btn btn-link waves-effect"
                                                data-dismiss="modal"
                                                (click)="producto.estado = 'pendiente';agregarProductoPedido(pedido, producto)">Agregar
                                                a mi
                                                pedido
                                                (<i>${{producto.costo*producto.cantidad}}</i>)</button>
                                            <button type="button"
                                                class="btn btn-link waves-effect"
                                                data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </tr>

                    </tbody>
                </table>

            </form>


        </div>



    </div>
</div>
