<app-menu></app-menu>


<section class="content">
    <div class="container-fluid">

        <body>
            <div class="card" style="background-color:#fff; padding: 20px;">


                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-pink hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">trending_up</i>
                            </div>
                            <div class="content">
                                <div class="text">LA MAS USADA: {{max.numero}}</div>
                                <div class="number count-to" data-from="0" data-to="125" data-speed="15"
                                    data-fresh-interval="20">{{max.cantidad}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-cyan hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">trending_down</i>
                            </div>
                            <div class="content">
                                <div class="text">LO MENOS USADA: {{min.numero}}</div>
                                <div class="number count-to" data-from="0" data-to="257" data-speed="1000"
                                    data-fresh-interval="20"> {{min.cantidad}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-pink hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">trending_up</i>
                            </div>
                            <div class="content">
                                <div class="text">LA QUE MAS FACTURO: {{max_importe_total.numero}}</div>
                                <div class="number count-to" data-from="0" data-to="125" data-speed="15"
                                    data-fresh-interval="20">{{max_importe_total.importeTotal}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-cyan hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">trending_down</i>
                            </div>
                            <div class="content">
                                <div class="text">LA QUE MENOS FACTURO: {{min_importe_total.numero}}</div>
                                <div class="number count-to" data-from="0" data-to="257" data-speed="1000"
                                    data-fresh-interval="20"> {{min_importe_total.importeTotal}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-pink hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">trending_up</i>
                            </div>
                            <div class="content">
                                <div class="text">MAYOR IMPORTE POR MESA: {{max_importe.numero}}</div>
                                <div class="number count-to" data-from="0" data-to="125" data-speed="15"
                                    data-fresh-interval="20">{{max_importe.importe}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-cyan hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">trending_down</i>
                            </div>
                            <div class="content">
                                <div class="text">MAYOR MENOR POR MESA: {{min_importe.numero}}</div>
                                <div class="number count-to" data-from="0" data-to="257" data-speed="1000"
                                    data-fresh-interval="20"> {{min_importe.importe}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-pink hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">trending_up</i>
                            </div>
                            <div class="content">
                                <div class="text">MEJOR COMENTARIO (mesa:{{max_comentario.numero}}) </div>
                                <div class="number count-to" data-from="0" data-to="125" data-speed="15"
                                    data-fresh-interval="20">{{max_comentario.puntaje}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-cyan hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">trending_down</i>
                            </div>
                            <div class="content">
                                <div class="text">PEOR COMENTARIO (mesa:{{min_comentario.numero}})</div>
                                <div class="number count-to" data-from="0" data-to="257" data-speed="1000"
                                    data-fresh-interval="20">{{min_comentario.puntaje}}</div>
                            </div>
                        </div>
                    </div>

                </div>
                <h3>MEJORES Y PEORES PUNTAJES POR MESA</h3>
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </body>
    </div>
</section>