<app-menu></app-menu>


<section class="content">

    <div class="container-fluid" style="background-color:#fff;">
        <h2>EMPLEADOS</h2>
        <h4><button class="label label-warning" (click)="filtro={baja: false, suspendido:false}">Habilitados</button>
            <button class="label label-danger" (click)="filtro={baja: true}">Dados de baja</button>
            <button class="label label-success" (click)="filtro={suspendido: true}">Suspendidos</button>
          
        </h4>
        <body>
               


            <div class="body m-t-35" style="background-color:#fff;">
               
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Perfil</th>
                            <th>Modificar</th>
                            <th>Bajar</th>
                            <th>Suspender/habilitar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuariol of usuarios  | tableFilter: filtro">
                            <td> <img src="{{usuariol.foto}}" style="height: 100px;"></td>
                            <td>{{usuariol.nombre}}</td>
                            <td>{{usuariol.perfil}}</td>
                            <td><button (click)="modificar(usuariol)">editar</button></td>  
                            <td *ngIf="!usuariol.baja"> <button   (click)="baja(usuariol)">Baja</button></td>        
                            <td  *ngIf="usuariol.baja">Eliminado</td>                       
                            <td>
                                    <button type="button" *ngIf="!usuariol.suspendido" (click)="suspender(usuariol)"
                                        class="btn btn-default waves-effect m-r-20">
                                        <i class="material-icons">remove_circle</i></button>
                                    <button *ngIf="usuariol.suspendido" (click)="habilitar(usuariol)"
                                        class="btn btn-default waves-effect m-r-20"> <i
                                            class="material-icons">add_circle</i></button>
                                        </td>
                        </tr>

                    </tbody>
                </table>


            </div>
        </body>

    </div>
</section>