<app-menu></app-menu>


<section class="content">



    <div class="container-fluid" style="background-color:#e9e9e9;">
        <div *ngIf="menu_b" style="width: 50%;margin-bottom: 20px;float: right;">
            <div class="row">
                <div class="col-xs-4">
                    <div class="row">
                        <button class="btn bg-green  btn-block  waves-effect" (click)="menu('alta')">Alta</button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <button class="btn bg-red btn-block   waves-effect" (click)="menu('baja')">Baja</button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <button class="btn bg-orange btn-block    waves-effect"
                            (click)="menu('modificacion')">Modificacion</button>
                    </div>
                </div>
            </div>

        </div>

        <!--alta-->
        <div class="body" *ngIf="alta">
          
                        <h2>ALTA DE MESA</h2>
                
            <div class="row">
               
                <div class="col-lg-6">
                    <form id="mesa_alta" method="POST">
                       


                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons"
                                    style="font-size:25px; vertical-align: middle;">crop_square</i>
                                Número de mesa:
                            </span>
                            <div class="form-line">
                                <input type="number" class="form-control" [(ngModel)]="mesa.numero"
                                    name="Número de mesa" required autofocus>
                            </div>


                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons" style="font-size:25px; vertical-align: middle;">person</i>
                                Número
                                Comensales:
                            </span>
                            <div class="form-line">
                                <input type="number" class="form-control" [(ngModel)]="mesa.comensales"
                                    name="comensales" required>
                            </div>
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons"
                                    style="font-size:25px; vertical-align: middle;">accessible_forward</i>
                                Tipo
                                servicio:</span>
                            <div class="form-line">
                                <input type="text" class="form-control" [(ngModel)]="mesa.tipo_comensales"
                                    name="tipo_comensales" required>
                            </div>
                        </div>




                        <button class="btn btn-block btn-lg bg-green waves-effect" id="alta" type="submit"
                            (click)="altaMesa()">Alta</button>

                    </form>
                    <br>
                    <p class="font-bold col-pink">{{mensaje}}</p>
                </div>
                <div class="col-lg-6">
                    <h4>Subir imagen</h4>
                        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                            <ngx-dropzone-label>
                                <div>
                                    <h2>imagen mesa</h2>
                                </div>
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                                [file]="f" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-image-preview>
                        </div>
                    </div>
            </div>
        </div>


        <!--baja-->
        <div class="body" *ngIf="baja">

            <form id="mesa_baja" method="POST">
               
                    <h2>BAJA DE MESA</h2>
             
               
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons" style="font-size:25px; vertical-align: middle;">crop_square</i>Número
                        de mesa:
                    </span>
                    <div class="form-line">
                        <input type="number" class="form-control" [(ngModel)]="mesa.numero" name="numerobaja" required
                            autofocus>
                    </div>


                </div>

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons" style="font-size:25px; vertical-align: middle;">crop_square</i>Motivo
                        baja:
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" [(ngModel)]="mesa.motivo" name="motivo" required>
                    </div>
                </div>




                <button class="btn btn-block btn-lg bg-red waves-effect" id="baja" type="submit"
                    (click)="bajaMesa()">Baja
                </button>



            </form>
            <br>
            <p class="font-bold col-pink">{{mensaje}}</p>

        </div>


        <!--modificacion-->
        <div class="body" *ngIf="modificacion">

            <form id="mesa_mod" method="POST">
                    <h2>MODIFICACION DE MESA</h2>
   
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons" style="font-size:25px; vertical-align: middle;">crop_square</i>Número
                        de mesa:
                    </span>
                    <div class="form-line">
                        <input type="number" class="form-control" [(ngModel)]="mesa.numero" name="Número de mesa"
                            required autofocus>
                    </div>


                </div>


                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">accessible_forward</i> Tipo servicio:</span>
                    <div class="form-line">
                        <input type="text" class="form-control" [(ngModel)]="mesa.tipo_comensales"
                            name="tipo_comensales" required>
                    </div>
                </div>



                <button class="btn btn-block btn-lg bg-orange waves-effect" id="modificar" type="submit"
                    (click)="modificarMesa()">Modificacion</button>


            </form>
            <br>
            <p class="font-bold col-pink">{{mensaje}}</p>

            <!--menu-->


        </div>

    </div>
</section>