<app-menu></app-menu>


<section class="content">
    <div class="container-fluid">


        <body>
            <div class="card" style="background-color:#fff;">
                <div class="body">
                        <h2>RESULTADOS ENCUESTA</h2>
                    <div class="row">

                        <div class="col-md-10 col-sm-12">
                           
                            <h4>Nivel de satifacción (1 a 10) para:</h4>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                        <h4>El restaurante: <span
                                                class="font-bold col-pink">{{resultado?.restaurante}}</span></h4>
                                    </div>

                                    <div class="col-md-6 col-xs-12">
                                        <star-rating [(value)]="resultado.restaurante" totalstars="10"
                                            checkedcolor="red" uncheckedcolor="black" size="22px" readonly="true">
                                        </star-rating>
                                    </div>



                                </div>

                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                        <h4>La Mesa: <span class="font-bold col-pink">{{resultado?.mesa}}</span></h4>

                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <star-rating [(value)]="resultado.mesa" totalstars="10" checkedcolor="red"
                                            uncheckedcolor="black" size="22px" readonly="true"></star-rating>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                        <h4>El Mozo: <span class="font-bold col-pink">{{resultado.mozo}}</span></h4>

                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <star-rating [(value)]="resultado.mozo" totalstars="10" checkedcolor="red"
                                            uncheckedcolor="black" size="22px" readonly="true"></star-rating>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-4 col-xs-12">
                                        <h4>El Bartender: <span
                                                class="font-bold col-pink">{{resultado.bartender}}</span>
                                        </h4>

                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <star-rating [(value)]="resultado.bartender" totalstars="10" checkedcolor="red"
                                            uncheckedcolor="black" size="22px" readonly="true"></star-rating>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-4 col-xs-12">
                                        <h4>Precio / Calidad: <span
                                                class="font-bold col-pink">{{resultado.PrecioCalidad}}</span></h4>

                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <star-rating [(value)]="resultado.PrecioCalidad" totalstars="resultado.PrecioCalidad"
                                            checkedcolor="red" uncheckedcolor="black" size="22px" readonly="true">
                                        </star-rating>
                                    </div>

                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="row">
                                        <h4>Descrición la experiencia de atención:</h4>
                                        <div *ngFor="let t of texto; let i = index">
                                            <p *ngIf="t != undefiend">*- {{t}}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </body>
    </div>
</section>