




<div *ngIf="showEncuesta" class="col-md-10 col-sm-12">
    <h2>BREVE ENCUESTA</h2>
    <h4>Nivel de satifacción (1 a 10) para:</h4>
    <div class="card-block">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h4>El restaurante: <span class="font-bold col-pink">{{valor.restaurante}}</span></h4>
            </div>

            <div class="col-md-6 col-xs-12">
                <star-rating [(value)]="valor.restaurante" totalstars="10" checkedcolor="red" uncheckedcolor="black"
                    size="22px" readonly="false" (rate)="onRate($event, 'restaurante')"></star-rating>
            </div>

       </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h4>La Mesa: <span class="font-bold col-pink">{{valor.mesa}}</span></h4>

            </div>

            <div class="col-md-6 col-sm-12">
                <star-rating [(value)]="valor.mesa" totalstars="10" checkedcolor="red" uncheckedcolor="black"
                    size="22px" readonly="false" (rate)="onRate($event, 'mesa')"></star-rating>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h4>El Mozo: <span class="font-bold col-pink">{{valor.mozo}}</span></h4>

            </div>

            <div class="col-md-6 col-sm-12">
                <star-rating [(value)]="valor.mozo" totalstars="10" checkedcolor="red" uncheckedcolor="black"
                    size="22px" readonly="false" (rate)="onRate($event, 'mozo')"></star-rating>
            </div>

        </div>
        <div class="row">

            <div class="col-md-6 col-xs-12">
                <h4>El Bartender: <span class="font-bold col-pink">{{valor.bartender}}</span></h4>

            </div>

            <div class="col-md-6 col-sm-12">
                <star-rating [(value)]="valor.bartender" totalstars="10" checkedcolor="red" uncheckedcolor="black"
                    size="22px" readonly="false" (rate)="onRate($event, 'bartender')"></star-rating>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6 col-xs-12">
                <h4>Relación Precio / Calidad: <span class="font-bold col-pink">{{valor.PrecioCalidad}}</span></h4>

            </div>

            <div class="col-md-6 col-sm-12">
                <star-rating [(value)]="valor.PrecioCalidad" totalstars="10" checkedcolor="red" uncheckedcolor="black"
                    size="22px" readonly="false" (rate)="onRate($event, 'PrecioCalidad')"></star-rating>
            </div>

        </div>
        <div class="row m-t-20">
            <h4> Describa la experiencia (buena o mala) que tuvo en su atención:</h4>

            <div class="form-group form-float">
                <div class="form-line">
                    <textarea maxlength="66" [(ngModel)]="valor.texto" name="description" cols="25" rows="1"
                        class="form-control no-resize" required="" aria-required="true"></textarea>
                    <label class="form-label"></label>
                </div>
            </div>

            
        </div>
        <div class="row m-t-10">
            <div class="col-lg-4 col-md-6"><button class="btn btn-block bg-pink waves-effect" (click)="enviar()">ENVIAR</button></div>
        </div>

    </div>
</div>