<app-menu></app-menu>


<section class="content">
        <div class="container-fluid" style="background-color:#e9e9e9;">

 
        <!--baja-->
        <div *ngIf="accion == 'baja'" class="row">

            <div class="col-lg-6">
                <div class="body">
                        <h2>BAJA DE USUARIO</h2>
     
                    <form [formGroup]="formBaja" id="formBaja" (submit)="bajaUsuario()">
                       
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons"
                                    style="font-size:25px; vertical-align: middle;">crop_square</i>
                                Número DNI:
                            </span>
                            <div class="form-line">
                                <input type="text" class="form-control" formControlName="dniBaja" name="dniBaja"
                                    id="dniBaja" [(ngModel)]="nuevoUsuario.dni" required autofocus>
                            </div>
                            <label id="dniBaja-error" class="error"
                                for="dniBaja"><span>{{ getError(formBaja, 'dniBaja')}}</span></label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons"
                                    style="font-size:25px; vertical-align: middle;">crop_square</i>Motivo
                                baja:
                            </span>
                            <div class="form-line">
                                <input type="text" class="form-control" id="motivoBaja" formControlName="motivoBaja"
                                    [(ngModel)]="nuevoUsuario.motivo" name="motivoBaja" required>
                            </div>
                            <label id="motivoBaja-error" class="error"
                                for="motivoBaja"><span>{{getError(formBaja, 'motivoBaja')}}</span></label>
                        </div>




                        <button class="btn btn-block btn-lg bg-red waves-effect" [disabled]="!formBaja.valid" id="baja"
                            type="submit">Baja
                        </button>



                    </form>
                    <br>
                    <p class="font-bold col-pink"></p>

                </div>
            </div>
        </div>

        <div *ngIf="accion == 'modificar'" class="row">

            <h2>MODIFICACIÓN DE USUARIO</h2>

            <div class="row">

                <div class="col-lg-6">
                    <!--alta-->
                    <div class="body" >
                        <form [formGroup]="formMod" id="formMod" (submit)="modificarUsuario()">
                            <!--perfilMod-->
                            <div class="input-group mb-0" style="margin-bottom: 0; padding-bottom: 0">
                                <div class="row">
                                    <div class="col-xs-3 m-0 p-0">
                                        <span class="input-group-addon">
                                            <i class="material-icons"
                                                style="font-size:25px; vertical-align: middle;">person</i>perfil:</span>
                                    </div>
                                    <div class="col-xs-9">
                                        <select  id="perfilMod"
                                            [(ngModel)]="nuevoUsuario.perfil" [ngModelOptions]="{standalone: true}" name="perfilMod"
                                            class="form-control show-tick"
                                            style="border: #00c3ff solid 1px; margin-bottom: 0; padding-bottom: 0"
                                            tabindex="-98">
                                            <option name="perfilMod" value="{{nuevoUsuario.perfil}}" selected="selected" >{{nuevoUsuario.perfil}}</option>
                                            <option name="perfilMod" value="Admin" selected="selected" >Administrador</option>
                                            <option name="perfilMod" value="Bartender">Bartender</option>
                                            <option name="perfilMod" value="Cocinero">Cocinero</option>
                                            <option name="perfilMod" value="Mozo">Mozo</option>
                                        </select>
                                    </div>
                                </div>
                                </div>
                            <!-- fin perfilMod-->


                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons"
                                        style="font-size:25px; vertical-align: middle;">crop_square</i>
                                    Número DNI:
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" formControlName="dniMod" name="dniMod"
                                        id="dniMod" [(ngModel)]="nuevoUsuario.dni" required autofocus disabled>
                                </div>
                                <label id="dniMod-error" class="error"
                                    for="dniMod"><span>{{ getError(formMod, 'dniMod')}}</span></label>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons" style="font-size:25px; vertical-align: middle;">person</i>
                                    Nombre:
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" formControlName="nombreMod" name="nombreMod"
                                        id="nombreMod" [(ngModel)]="nuevoUsuario.nombre" name="nombreMod">
                                </div>
                                <label id="nombreMod-error" class="error"
                                    for="nombreMod"><span>{{ getError(formMod, 'nombreMod')}}</span></label>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons"
                                        style="font-size:25px; vertical-align: middle;">person</i>Apellido:</span>
                                <div class="form-line">
                                    <input type="text" class="form-control" formControlName="apellidoMod"
                                        name="apellidoMod" id="apellidoMod" [(ngModel)]="nuevoUsuario.apellido"
                                        name="apellidoMod" >
                                </div>
                                <label id="apellidoMod-error" class="error"
                                    for="apellidoMod"><span>{{ getError(formMod, 'apellidoMod')}}</span></label>

                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons" style="font-size:25px; vertical-align: middle;">email</i>
                                    Correo:
                                </span>
                                <div class="form-line">
                                    <input type="emailMod" id="emailMod" formControlName="emailMod"
                                        [(ngModel)]="nuevoUsuario.email" class="form-control" name="emailMod" 
                                        autofocus disabled>
                                </div>
                                <label id="emailMod-error" class="error"
                                    for="emailMod"><span>{{ getError(formMod, 'emailMod')}}</span></label>

                            </div>


                            <button class="btn btn-block btn-lg bg-orange waves-effect" id="modificar" type="submit"
                                [disabled]="!formMod.valid">Modificación</button>



                        </form>
                        <br>
                        <p class="font-bold col-pink"></p>

                    </div>
                </div>
                <div class="col-lg-6">
                    <h4>CAMBIAR FOTO</h4>
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            
                               <img src= "{{nuevoUsuario.foto}}" style="height: 100%">
                            
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </div>
                </div>

            </div>
        </div>


        <div *ngIf="accion == 'profile'" class="row">

            <h2>MI USUARIO</h2>

            <div class="row">

                <div class="col-lg-6">
                    <!--alta-->
                    <div class="body" >
                        <form [formGroup]="formMod" id="formMod" (submit)="modificarUsuario()">
                            <!--perfilMod-->
                            <div class="input-group mb-0" style="margin-bottom: 0; padding-bottom: 0">
                                <div class="row">
                                    <div class="col-xs-3 m-0 p-0">
                                        <span class="input-group-addon">
                                            <i class="material-icons"
                                                style="font-size:25px; vertical-align: middle;">person</i>perfil:</span>
                                    </div>
                                    <div class="col-xs-9">
                                        <select  id="perfilMod"
                                            [(ngModel)]="nuevoUsuario.perfil" [ngModelOptions]="{standalone: true}" name="perfilMod"
                                            class="form-control show-tick"
                                            style="border: #00c3ff solid 1px; margin-bottom: 0; padding-bottom: 0"
                                            tabindex="-98" disabled>
                                            <option name="perfilMod" value="{{nuevoUsuario.perfil}}" selected="selected" >{{nuevoUsuario.perfil}}</option>
                                            <option name="perfilMod" value="Admin" selected="selected" >Administrador</option>
                                            <option name="perfilMod" value="Bartender">Bartender</option>
                                            <option name="perfilMod" value="Cocinero">Cocinero</option>
                                            <option name="perfilMod" value="Mozo">Mozo</option>
                                        </select>
                                    </div>
                                </div>
                                </div>
                            <!-- fin perfilMod-->


                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons"
                                        style="font-size:25px; vertical-align: middle;">crop_square</i>
                                    Número DNI:
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" formControlName="dniMod" name="dniMod"
                                        id="dniMod" [(ngModel)]="nuevoUsuario.dni" required autofocus disabled>
                                </div>
                                <label id="dniMod-error" class="error"
                                    for="dniMod"><span>{{ getError(formMod, 'dniMod')}}</span></label>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons" style="font-size:25px; vertical-align: middle;">person</i>
                                    Nombre:
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" formControlName="nombreMod" name="nombreMod"
                                        id="nombreMod" [(ngModel)]="nuevoUsuario.nombre" name="nombreMod">
                                </div>
                                <label id="nombreMod-error" class="error"
                                    for="nombreMod"><span>{{ getError(formMod, 'nombreMod')}}</span></label>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons"
                                        style="font-size:25px; vertical-align: middle;">person</i>Apellido:</span>
                                <div class="form-line">
                                    <input type="text" class="form-control" formControlName="apellidoMod"
                                        name="apellidoMod" id="apellidoMod" [(ngModel)]="nuevoUsuario.apellido"
                                        name="apellidoMod" >
                                </div>
                                <label id="apellidoMod-error" class="error"
                                    for="apellidoMod"><span>{{ getError(formMod, 'apellidoMod')}}</span></label>

                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons" style="font-size:25px; vertical-align: middle;">email</i>
                                    Correo:
                                </span>
                                <div class="form-line">
                                    <input type="emailMod" id="emailMod" formControlName="emailMod"
                                        [(ngModel)]="nuevoUsuario.email" class="form-control" name="emailMod" 
                                        autofocus disabled>
                                </div>
                                <label id="emailMod-error" class="error"
                                    for="emailMod"><span>{{ getError(formMod, 'emailMod')}}</span></label>

                            </div>


                            <button class="btn btn-block btn-lg bg-orange waves-effect" id="modificar" type="submit"
                                [disabled]="!formMod.valid">Modificación</button>



                        </form>
                        <br>
                        <p class="font-bold col-pink"></p>

                    </div>
                </div>
                <div class="col-lg-6">
                    <h4>CAMBIAR FOTO</h4>
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            
                               <img src= "{{nuevoUsuario.foto}}" style="height: 100%">
                            
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </div>
                </div>

            </div>
        </div>
    </div>




</section>
