<app-menu></app-menu>

<body class="signup-page">


    <div class="card">
        <div class="body">

            <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                <ngx-dropzone-label>
                    <div>
                        <i class="material-icons">camera</i>Subir una Foto

                    </div>
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                    [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
            </div>
            <form id="sign_up" method="POST">

                <div class="msg">Registro de nuevo miembros</div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i> nombre:
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" [(ngModel)]="nuevoUsuario.nombre" name="namesurname"
                            placeholder="Name Surname" required autofocus>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">email</i> email:
                    </span>
                    <div class="form-line">
                        <input type="email" class="form-control" [(ngModel)]="nuevoUsuario.email" name="email"
                            placeholder="Email Address" required>
                    </div>
                </div>

                <!--perfil-->
                <div class="input-group mb-0" style="margin-bottom: 0; padding-bottom: 0">
                    <div class="row">
                        <div class="col-xs-3 m-0 p-0">
                            <span class="input-group-addon">
                                <i class="material-icons"
                                    style="font-size:25px; vertical-align: middle;">person</i>Perfil:</span>
                        </div>
                        <div class="col-xs-9">
                            <select  id="perfil" [(ngModel)]="nuevoUsuario.perfil" name="perfil"
                                class="form-control show-tick"
                                style="border: #00c3ff solid 1px; margin-bottom: 0; padding-bottom: 0" tabindex="-98">
                                <option name="perfilMod" value="Admin">Administrador</option>
                                <option name="perfilMod" value="Bartender">Bartender</option>
                                <option name="perfilMod" value="Cocinero">Cocinero</option>
                                <option name="perfilMod" value="Mozo">Mozo</option>
                               
                            </select>
                        </div>
                    </div>
                </div>
                <!-- fin perfil-->


        
                <!-- fin sucursal-->
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i> clave:
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" [(ngModel)]="nuevoUsuario.clave" name="password"
                            minlength="6" placeholder="Password" required>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i> clave:
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="confirm" [(ngModel)]="nuevoUsuario.clave"
                            minlength="6" placeholder="Confirm Password" required>
                    </div>
                </div>


                <div class="form-group">
                    <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
                    <label for="terms">Estoy de acuerdo con <a href="javascript:void(0);">los términos y
                            referencias</a>.</label>
                </div>

                <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit"
                    (click)="registrarUsuario(nuevoUsuario)">Registrase</button>

                <div class="m-t-25 m-b--5 align-center">
                    <a href="sign-in.html">You already have a membership?</a>
                </div>
            </form>
        </div>

    </div>