<app-menu></app-menu>


<section class="content">

    <div class="container-fluid" style="background-color:#e9e9e9;">

        <div *ngIf="alta" class="row">
            <div class="body">

                <h2>REGISTRO DE CLIENTE</h2>

                <div class="row">

                    <div class="col-lg-6">
                        <!--alta-->
                        <div class="body" *ngIf="alta">
                            <form [formGroup]="formAlta" id="formAlta"
                                (submit)="nuevoUsuario.perfil='Cliente';altaUsuario()">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons"
                                            style="font-size:25px; vertical-align: middle;">crop_square</i>
                                        Número DNI:
                                    </span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" formControlName="dni" name="dni"
                                            id="dni" [(ngModel)]="nuevoUsuario.dni" required autofocus>
                                    </div>
                                    <label id="dni-error" class="error"
                                        for="dni"><span>{{ getError(formAlta, 'dni')}}</span></label>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons"
                                            style="font-size:25px; vertical-align: middle;">person</i>
                                        Nombre:
                                    </span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" formControlName="nombre" name="nombre"
                                            id="nombre" [(ngModel)]="nuevoUsuario.nombre" name="nombre" required>
                                    </div>
                                    <label id="nombre-error" class="error"
                                        for="nombre"><span>{{ getError(formAlta, 'nombre')}}</span></label>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons"
                                            style="font-size:25px; vertical-align: middle;">person</i>Apellido:</span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" formControlName="apellido"
                                            name="apellido" id="apellido" [(ngModel)]="nuevoUsuario.apellido"
                                            name="apellido" required>
                                    </div>
                                    <label id="apellido-error" class="error"
                                        for="apellido"><span>{{ getError(formAlta, 'apellido')}}</span></label>

                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons"
                                            style="font-size:25px; vertical-align: middle;">email</i>
                                        Correo:
                                    </span>
                                    <div class="form-line">
                                        <input type="email" id="email" formControlName="email"
                                            [(ngModel)]="nuevoUsuario.email" class="form-control" name="email" required
                                            autofocus>
                                    </div>
                                    <label id="email-error" class="error"
                                        for="email"><span>{{ getError(formAlta, 'email')}}</span></label>

                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons"
                                            style="font-size:25px; vertical-align: middle;">lock</i>
                                        Clave:
                                    </span>
                                    <div class="form-line">
                                        <input type="password" id="clave" formControlName="clave" class="form-control"
                                            [(ngModel)]="nuevoUsuario.clave" name="clave" required>
                                    </div>
                                    <label id="clave-error" class="clave"
                                        for="clave"><span>{{ getError(formAlta, 'clave')}}</span></label>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons"
                                            style="font-size:25px; vertical-align: middle;">person</i>
                                        En qué año estamos?
                                    </span>
                                    <div class="form-line">
                                        <input type="number" class="form-control" formControlName="captcha"
                                            name="captcha" id="captcha" [(ngModel)]="captcha2" name="captcha" required>
                                    </div>
                                    <label id="captcha-error" class="error"
                                        for="captcha"><span>{{ getError(formAlta, 'captcha')}}</span></label>
                                </div>




                                <div>

                                    <button class="btn btn-block btn-lg bg-green waves-effect" id="alta" type="submit"
                                        [disabled]="!formAlta.valid || !captcha">Registrarse</button>
                                </div>



                            </form>
                            <br>
                            <p class="font-bold col-pink"></p>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4>Subir Foto</h4>
                        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                            <ngx-dropzone-label>
                                <div>
                                    <h2>Foto</h2>
                                </div>
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                                [file]="f" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-image-preview>
                        </div>
                        <div class="form-line m-b-20  m-t-20">
                            <re-captcha (resolved)="resolved($event)"
                                siteKey="6Lc3uNgUAAAAAO9Y9Zdskg4_nl33wZ3ctDrplag4"></re-captcha>
                        </div>


                    </div>

                </div>

            </div>

        </div>
    </div>


    <div></div>

</section>