<app-menu></app-menu>


<section class="content">
    <div class="container-fluid">

        <body>
            <div class="card" style="background-color:#fff;">
                <h2>OPERACIONES</h2>
                <div class="body">
                    <h3> Selecione el rango de fechas de ingreso al sistema</h3>

                    <app-operaciones></app-operaciones>
                </div>

            </div>

        </body>
    </div>
</section>