<app-menu></app-menu>


<section class="content">

    <div class="container-fluid" style="background-color:#e9e9e9;">
        <!--


        <div *ngIf="menu_b" style="width: 50%;margin-bottom: 20px;float: right;">
            <div class="row">
                <div class="col-xs-4">
                    <div class="row">
                        <button class="btn bg-green  btn-block  waves-effect" (click)="menu('alta')">Alta</button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <button class="btn bg-red btn-block   waves-effect" (click)="menu('baja')">Baja</button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <button class="btn bg-orange btn-block    waves-effect"
                            (click)="menu('modificacion')">Modificacion</button>
                    </div>
                </div>
            </div>

        </div>

        alta-->
        <div *ngIf="alta" class="row">
            <div class="body">

                <h2>ALTA DE USUARIO</h2>

                <div class="row">

                    <div class="col-lg-6">
                        <!--alta-->
                        <div class="body" *ngIf="alta">
                            <form [formGroup]="formAlta" id="formAlta" (submit)="altaUsuario()">
                                <!--perfil-->
                                <div class="input-group mb-0" style="margin-bottom: 0; padding-bottom: 0">
                                    <div class="row">
                                        <div class="col-xs-3 m-0 p-0">
                                            <span class="input-group-addon">
                                                <i class="material-icons"
                                                    style="font-size:25px; vertical-align: middle;">person</i>Perfil:</span>
                                        </div>
                                        <div class="col-xs-9">
                                            <select formControlName="perfil" id="perfil"
                                                [(ngModel)]="nuevoUsuario.perfil" name="perfil"
                                                class="form-control show-tick"
                                                style="border: #00c3ff solid 1px; margin-bottom: 0; padding-bottom: 0"
                                                tabindex="-98">
                                                <option name="perfil" value="Admin">Administrador</option>
                                                <option name="perfil" value="Bartender">Bartender</option>
                                                <option name="perfil" value="Cocinero">Cocinero</option>
                                                <option name="perfil" value="Mozo">Mozo</option>
                                            </select>
                                        </div>
                                    </div>
                                    <label id="perfil-error" class="error"
                                        for="perfil"><span>{{ getError(formAlta, 'perfil')}}</span></label>
                                </div>
                                <!-- fin perfil-->


                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons"
                                            style="font-size:25px; vertical-align: middle;">crop_square</i>
                                        Número DNI:
                                    </span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" formControlName="dni" name="dni"
                                            id="dni" [(ngModel)]="nuevoUsuario.dni" required autofocus>
                                    </div>
                                    <label id="dni-error" class="error"
                                        for="dni"><span>{{ getError(formAlta, 'dni')}}</span></label>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons"
                                            style="font-size:25px; vertical-align: middle;">person</i>
                                        Nombre:
                                    </span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" formControlName="nombre" name="nombre"
                                            id="nombre" [(ngModel)]="nuevoUsuario.nombre" name="nombre" required>
                                    </div>
                                    <label id="nombre-error" class="error"
                                        for="nombre"><span>{{ getError(formAlta, 'nombre')}}</span></label>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons"
                                            style="font-size:25px; vertical-align: middle;">person</i>Apellido:</span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" formControlName="apellido"
                                            name="apellido" id="apellido" [(ngModel)]="nuevoUsuario.apellido"
                                            name="apellido" required>
                                    </div>
                                    <label id="apellido-error" class="error"
                                        for="apellido"><span>{{ getError(formAlta, 'apellido')}}</span></label>

                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons"
                                            style="font-size:25px; vertical-align: middle;">email</i>
                                        Correo:
                                    </span>
                                    <div class="form-line">
                                        <input type="email" id="email" formControlName="email"
                                            [(ngModel)]="nuevoUsuario.email" class="form-control" name="email" required
                                            autofocus>
                                    </div>
                                    <label id="email-error" class="error"
                                        for="email"><span>{{ getError(formAlta, 'email')}}</span></label>

                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons"
                                            style="font-size:25px; vertical-align: middle;">lock</i>
                                        Clave:
                                    </span>
                                    <div class="form-line">
                                        <input type="password" id="clave" formControlName="clave" class="form-control"
                                            [(ngModel)]="nuevoUsuario.clave" name="clave" required>
                                    </div>
                                    <label id="clave-error" class="clave"
                                        for="clave"><span>{{ getError(formAlta, 'clave')}}</span></label>
                                </div>

                                <button class="btn btn-block btn-lg bg-green waves-effect" id="alta" type="submit"
                                    [disabled]="!formAlta.valid">Alta</button>



                            </form>
                            <br>
                            <p class="font-bold col-pink"></p>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4>Subir Foto</h4>
                        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                            <ngx-dropzone-label>
                                <div>
                                    <h2>Foto</h2>
                                </div>
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                                [file]="f" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-image-preview>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!--baja-->
        <div *ngIf="baja" class="row">

            <div class="col-lg-6">
                <div class="body">


                    <form [formGroup]="formBaja" id="formBaja" (submit)="bajaUsuario()">
                        <div class="font-bold col-cyan msg">
                            <h2>Baja de Usuario</h2>
                        </div>



                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons"
                                    style="font-size:25px; vertical-align: middle;">crop_square</i>
                                Número DNI:
                            </span>
                            <div class="form-line">
                                <input type="text" class="form-control" formControlName="dniBaja" name="dniBaja"
                                    id="dniBaja" [(ngModel)]="nuevoUsuario.dni" required autofocus>
                            </div>
                            <label id="dniBaja-error" class="error"
                                for="dniBaja"><span>{{ getError(formBaja, 'dniBaja')}}</span></label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons"
                                    style="font-size:25px; vertical-align: middle;">crop_square</i>Motivo
                                baja:
                            </span>
                            <div class="form-line">
                                <input type="text" class="form-control" id="motivoBaja" formControlName="motivoBaja"
                                    [(ngModel)]="nuevoUsuario.motivo" name="motivoBaja" required>
                            </div>
                            <label id="motivoBaja-error" class="error"
                                for="motivoBaja"><span>{{getError(formBaja, 'motivoBaja')}}</span></label>
                        </div>




                        <button class="btn btn-block btn-lg bg-red waves-effect" [disabled]="!formBaja.valid" id="baja"
                            type="submit">Baja
                        </button>



                    </form>
                    <br>
                    <p class="font-bold col-pink"></p>

                </div>
            </div>
        </div>

        <div *ngIf="modificacion" class="row">

            <h2>MODIFICACIÓN DE USUARIO</h2>

            <div class="row">

                <div class="col-lg-6">
                    <!--alta-->
                    <div class="body">
                        <form [formGroup]="formMod" id="formMod" (submit)="modificarUsuario()">
                            <!--perfilMod-->
                            <div class="input-group mb-0" style="margin-bottom: 0; padding-bottom: 0">
                                <div class="row">
                                    <div class="col-xs-3 m-0 p-0">
                                        <span class="input-group-addon">
                                            <i class="material-icons"
                                                style="font-size:25px; vertical-align: middle;">person</i>perfilMod:</span>
                                    </div>
                                    <div class="col-xs-9">
                                        <select id="perfilMod" [(ngModel)]="amodificar.perfil"
                                            [ngModelOptions]="{standalone: true}" name="perfilMod"
                                            class="form-control show-tick"
                                            style="border: #00c3ff solid 1px; margin-bottom: 0; padding-bottom: 0"
                                            tabindex="-98">
                                            <option name="perfilMod" value="{{amodificar.perfil}}" selected="selected">
                                                {{amodificar.perfil}}</option>
                                            <option name="perfilMod" value="Admin" selected="selected">Administrador
                                            </option>
                                            <option name="perfilMod" value="Bartender">Bartender</option>
                                            <option name="perfilMod" value="Cocinero">Cocinero</option>
                                            <option name="perfilMod" value="Mozo">Mozo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- fin perfilMod-->


                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons"
                                        style="font-size:25px; vertical-align: middle;">crop_square</i>
                                    Número DNI:
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" formControlName="dniMod" name="dniMod"
                                        id="dniMod" [(ngModel)]="amodificar.dni" required autofocus disabled>
                                </div>
                                <label id="dniMod-error" class="error"
                                    for="dniMod"><span>{{ getError(formMod, 'dniMod')}}</span></label>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons" style="font-size:25px; vertical-align: middle;">person</i>
                                    Nombre:
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" formControlName="nombreMod" name="nombreMod"
                                        id="nombreMod" [(ngModel)]="amodificar.nombre" name="nombreMod">
                                </div>
                                <label id="nombreMod-error" class="error"
                                    for="nombreMod"><span>{{ getError(formMod, 'nombreMod')}}</span></label>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons"
                                        style="font-size:25px; vertical-align: middle;">person</i>Apellido:</span>
                                <div class="form-line">
                                    <input type="text" class="form-control" formControlName="apellidoMod"
                                        name="apellidoMod" id="apellidoMod" [(ngModel)]="amodificar.apellido"
                                        name="apellidoMod">
                                </div>
                                <label id="apellidoMod-error" class="error"
                                    for="apellidoMod"><span>{{ getError(formMod, 'apellidoMod')}}</span></label>

                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons" style="font-size:25px; vertical-align: middle;">email</i>
                                    Correo:
                                </span>
                                <div class="form-line">
                                    <input type="emailMod" id="emailMod" formControlName="emailMod"
                                        [(ngModel)]="amodificar.email" class="form-control" name="emailMod" autofocus
                                        disabled>
                                </div>
                                <label id="emailMod-error" class="error"
                                    for="emailMod"><span>{{ getError(formMod, 'emailMod')}}</span></label>

                            </div>


                            <button class="btn btn-block btn-lg bg-orange waves-effect" id="modificar" type="submit"
                                [disabled]="!formMod.valid">Modificación</button>



                        </form>
                        <br>
                        <p class="font-bold col-pink"></p>

                    </div>
                </div>
                <div class="col-lg-6">
                    <h4>CAMBIAR FOTO</h4>
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                        <ngx-dropzone-label>

                            <img src="{{amodificar.foto}}">

                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </div>
                </div>

            </div>
        </div>
    </div>




</section>