<app-menu></app-menu>


<section class="content">
    <div class="container-fluid" style="background-color:#fff;">
            <div class="body">
                    <h2>MESAS </h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Número</th>
                                <th>Comensales</th>
                                <th>Estado</th>
                                <th>Liberar</th>
                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let mesa of mesas">
                                <td> <img src="{{mesa.foto}}" style="width: 100px;"></td>
                                <td>{{mesa.numero}}</td>
                                <td>{{mesa.comensales}}</td>
                                <td>{{mesa.estado}}</td>
                                <td>
                                       <button *ngIf="mesa.estado !='libre' && mesa.baja==false" (click)="liberar(mesa)"
                                        class="btn btn-default waves-effect m-r-20"> <i
                                            class="material-icons">remove_circle</i></button>
                                        </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    </div>
</section>
