<app-menu></app-menu>


<section class="content">

    <div class="container-fluid" style="background-color:#fff;">
        <h2>PRODUCTOS</h2>
        <h4><button class="label label-success" (click)="categoria='Entrada'">Entradas</button>
            <button class="label label-success" (click)="categoria='Plato'">Platos</button>
            <button class="label label-success" (click)="categoria='Bebida'">Bebidas</button>
            <button class="label label-success" (click)="categoria='Postre'">Postres</button>
        </h4>
        <body>
               


            <div class="body m-t-35" style="background-color:#fff;">
               
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Costo</th>
                            <th>Modificar</th>
                            <th>Dar de Baja</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of productos | categorias: categoria">
                            <td> <img src="{{producto.URL}}" style="height: 100px;"></td>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.costo}}</td>
                            <td><button (click)="modificar(producto)">editar</button></td>  
                            <td *ngIf="!producto.baja"> <button   (click)="baja(producto)">Baja</button></td>        
                            <td  *ngIf="producto.baja">Eliminado</td>                       
                          
                        </tr>

                    </tbody>
                </table>


            </div>
        </body>

    </div>
</section>