<app-menu></app-menu>


<section class="content">

    <div class="container-fluid" style="background-color:#fff;">

        <body>


            <div class="body m-t-35  m-l-35  m-r-35   ">

                <div class="header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="col-lg-12">
                                <h2>
                                    {{usuarioSelec.nombre}}
                                </h2>
                            </div>
                            <div class="col-lg-12">
                                <h3>{{usuarioSelec.email}}</h3>
                            </div>
                            <div class="col-lg-12">


                                <div class="form-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">add_circle</i>Local:
                                    </span>
                                    <select class="form-control" name="local" [(ngModel)]="usuarioSelec.sucursal"
                                        style="border: 1px solid blue">
                                        <option *ngFor="let local of locales" [value]="local.nombre">{{ local.nombre }}
                                        </option>
                                    </select>
                                </div>


                                <div class="form-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">add_circle</i>Perfil:
                                    </span>
                                    <select class="form-control" name="pefil" [(ngModel)]="usuarioSelec.perfil"
                                        style="border: 1px solid blue">
                                        <option value="Admin">Admin</option>
                                        <option value="Empleado">Empleado</option>
                                    </select>
                                </div>

                                <button class="btn btn-block btn-lg bg-pink waves-effect"
                                    (click)="cambiar()">modificar</button>

                            </div>

                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5  "><img src="{{usuarioSelec.foto}}" style="width: 350px;">
                        </div>
                    </div>


                </div>

                <div class="body  m-t-35  m-l-35  m-r-35 ">
                    <h2>Usuario: Movimientos</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>fecha</th>
                                <th>operacion</th>
                                <th>perfil</th>
                                <th>Local</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let movimiento of movimientos">
                                <td>{{movimiento.fecha}}</td>
                                <td>{{movimiento.operacion}}</td>
                                <td>{{movimiento.perfil}}</td>
                                <td>{{movimiento.local}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </body>
    </div>
</section>