<div class="body m-t-35  m-l-35  m-r-35   ">


    <form novalidate #form="ngForm">
            <h3>Locales</h3>
        <div class="row">
            <div class="col-lg-8">
             
            </div>
            <div class="col-lg-1">
                Filtro:
            </div>
            <div class="col-lg-3">
                <div class="form-group" >
                     <select class="form-control" name="nombre"   [(ngModel)]="nombre" style="border: 1px solid blue">
                        <option *ngFor="let local of locales" [value]="local.nombre">{{ local.nombre }}</option>
                    </select>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>

                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let local of locales | tableFilter: form.value">
                    <td>{{local.nombre}}</td>
                    <td>{{local.direccion}}</td>
                    <td><button (click)="mostrar(local)">ver detalle{{local.id}}</button></td>
                </tr>

            </tbody>
        </table>
    </form>

</div>