<app-menu></app-menu>
<section class="content">
    <div class="container-fluid">

        <body>
            <div class="card" style="background-color:#fff;">
                <h2>INGRESOS</h2>
                <div class="body">
                    <h3> Selecione el rango de fechas de ingreso al sistema</h3>
                    <form novalidate #form2="ngForm">
                        <div class="row">
                            <div class="col-lg-1">
                                Fecha Inicial:
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <select class="form-control" name="dia" [(ngModel)]="dia"
                                        style="border: 1px solid blue">
                                        <option *ngFor="let i of Fechai" [value]="i.dia">{{ i.dia | diaFormat}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                Fecha Final:
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <select class="form-control" name="diaf" [(ngModel)]="diaf"
                                        style="border: 1px solid blue">
                                        <option *ngFor="let f of Fechaf" [value]="f.diaf">{{ f.diaf | diaFormat}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Fecha</th>
                                    <th>Perfil</th>
                                    <th>nombre</th>
                                    <th>usuario</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ingreso of ingresos | rangoFecha: form2.value">
                                    <td>{{ingreso.dia | diaFormat}}</td>
                                    <td>{{ingreso.fecha | dateFormat}}</td>
                                    <td>{{ingreso.perfil}}</td>
                                    <td>{{ingreso.nombre}}</td>
                                    <td>{{ingreso.usuario}}</td>
                                </tr>

                            </tbody>
                        </table>

                        <button (click)="exportCSV(ingresos,  form2.value)" type="button"
                            class="btn btn-success btn-circle waves-effect waves-circle waves-float">
                            <i class="material-icons"> cloud_download</i> 
                        </button> CSV
                    </form>
                </div>
            </div>
        </body>
    </div>
</section>