<app-menu [spinner]="pedidoServicio.spinner"></app-menu>


<section class="content">



    <!-- <div *ngIf="perfil == 'Cliente'" class="container-fluid">
        delivery o Local? radio si es delivery formulario datos
        local las mesas
    </div>-->

    <div class="container-fluid">

        <div class="panel-group" id="accordion_17" role="tablist" aria-multiselectable="true">
            <div class="panel panel-col-pink">
                <div class="panel-heading" role="tab" id="headingOne_17">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion_17" href="#collapseOne_17"
                            aria-expanded="true" aria-controls="collapseOne_17">
                            <i class="material-icons">filter_1</i> Iniciar pedido
                        </a>
                    </h4>
                </div>
                <div id="collapseOne_17" class="panel-collapse collapse in" role="tabpanel"
                    aria-labelledby="headingOne_17">
                    <div class="panel-body">

                        <form [formGroup]="formularioIniciar" id="formularioIniciar">
                            <div class="row m-t-15">
                                <div class="col-md-7">
                                    <div class="font-bold col-pink msg m-l-30">
                                        <h5>Selecione al menos una mesa para iniciar el pedido...</h5>
                                    </div>
                                    <div class="scroll-window" slimScroll [options]="opts"
                                        [scrollEvents]="scrollEvents">
                                        <!--style="background-color:#fff;" style="overflow-y:scroll;  height:40vh;">-->
                                        <app-mesa-lista (seAgrego)="addMesa($event)" (seQuito)="restMesa($event)">
                                        </app-mesa-lista>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group">
                                        Cliente Nombre:<input type="text" formControlName="cliente" id="cliente"
                                            [(ngModel)]="cliente.nombre" required autofocus>
                                        <label id="cliente-error" class="error"
                                            for="cliente"><span>{{ getError(formularioIniciar, 'cliente')}}</span></label>
                                    </div>
                                    <div class="form-group">
                                        Mesas elegidas: <div *ngFor="let mesa of mesasElegidas">{{mesa.numero}} </div>
                                    </div>



                                    <button class="btn btn-block bg-pink waves-effect m-r-20"
                                        [disabled]="!formularioIniciar.valid" type="button" role="button"
                                        data-toggle="collapse" data-parent="#accordion_17" href="#collapseTwo_17"
                                        aria-expanded="false" aria-controls="collapseTwo_17" (click)="IniciarPedido()">
                                        Comenzar
                                    </button>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="panel panel-col-cyan">
                <div class="panel-heading" role="tab" id="headingTwo_17">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_17"
                            href="#collapseTwo_17" aria-expanded="false" aria-controls="collapseTwo_17">
                            <i class="material-icons">filter_2</i> Agregar productos
                        </a>
                    </h4>
                </div>
                <div *ngIf="pedido_iniciado" id="collapseTwo_17" class="panel-collapse collapse" role="tabpanel"
                    aria-labelledby="headingTwo_17">
                    <div class="panel-body" *ngIf="pedido_iniciado && !this.pedido_completado">
                        <div href="javascript:void(0);" class="list-group-item">
                            <div class="block-header">
                                <h2>MENU</h2>
                                <h4><button class="label label-success" (click)="categoria='Entrada'">Entradas</button>
                                    <button class="label label-success" (click)="categoria='Plato'">Platos</button>
                                    <button class="label label-success" (click)="categoria='Bebida'">Bebidas</button>
                                    <button class="label label-success" (click)="categoria='Postre'">Postres</button>
                                </h4>
                            </div>
                            <!-- Modal Size Example -->
                            <div class="row clearfix">

                                <div class="col-lg-6">
                                    <form novalidate #form="ngForm">
                                        <table class="table table-striped  scroll-window" slimScroll [options]="opts"
                                            [scrollEvents]="scrollEvents">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Producto</th>
                                                    <th>Agregar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let producto of productos | categorias: categoria">

                                                    <td> <img src="{{producto.URL}}" style="width: 50px;"></td>
                                                    <td>{{producto.nombre}}<br>${{producto.costo}}</td>

                                                    <td><button type="button"
                                                            class="btn btn-default waves-effect m-r-20"
                                                            data-toggle="modal"
                                                            [attr.data-target]="'#' +producto.codigo"> <i
                                                                class="material-icons">add_circle</i></button>
                                                    </td>


                                                    <!-- Default Size -->
                                                    <div class="modal fade" id="{{producto.codigo}}" tabindex="-1"
                                                        role="dialog">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">

                                                                    <h3 class="modal-title" id="defaultModalLabel">
                                                                        {{producto.nombre}}</h3>
                                                                </div>


                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <figure>
                                                                                <img src="{{producto.URL}}"
                                                                                    style="height: 300px;">
                                                                            </figure>
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            {{producto.descripcion}}
                                                                            <div class="price m-t-15 m-b-15 ">
                                                                                <span>${{producto.costo}}</span>
                                                                            </div>

                                                                            <strong>Cantidad</strong>
                                                                            <td><input type="number"
                                                                                    id={{producto.nombre}}
                                                                                    name={{producto.nombre}}
                                                                                    placeholder="1" value="1" min=1
                                                                                    max=50
                                                                                    [(ngModel)]="producto.cantidad"
                                                                                    [ngModelOptions]="{standalone: true}">

                                                                        </div>
                                                                    </div>




                                                                    <div class="modal-footer">
                                                                        <button type="button"
                                                                            class="btn btn-link waves-effect"
                                                                            data-dismiss="modal"
                                                                            (click)="agregar(producto)">Agregar a mi
                                                                            pedido
                                                                            (<i>${{producto.costo*producto.cantidad}}</i>)</button>
                                                                        <button type="button"
                                                                            class="btn btn-link waves-effect"
                                                                            data-dismiss="modal">Cancelar</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </tr>

                                            </tbody>
                                        </table>

                                    </form>


                                </div>
                                <div class="col-lg-6 m-t-15 p-20"
                                    *ngIf="pedido_iniciado && costoTotal > 0  && !this.pedido_completado">
                                    <h4 style="border-bottom: #666 dotted 1px; ">Detalle Pedido</h4>

                                    <table class="table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>und.</th>
                                                <th>Cant.</th>
                                                <th>Importe</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let productoPedido of productosPedidos">

                                                <td>{{productoPedido.nombre}}</td>
                                                <td>{{productoPedido.costo}}</td>
                                                <td>{{productoPedido.cantidad}}</td>
                                                <td>{{productoPedido.monto}}</td>
                                                <td><button type="button" class="btn btn-small waves-effect"
                                                        (click)="quitarProducto(productoPedido)">
                                                        <i class="material-icons">remove_circle</i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button type="button"
                                        class="btn btn-block bg-cyan waves-effect m-r-20 m-t-20 m-b-20" role="button"
                                        data-toggle="collapse" data-parent="#accordion_17" href="#collapseThree_17"
                                        aria-expanded="false" aria-controls="collapseThree_17"
                                        (click)="RealizarPedido()">
                                        Confirmar Pedido ${{costoTotal}}
                                    </button>
                                    <button type="button"
                                        class="btn btn-block bg-default waves-effect m-r-20 m-t-20 m-b-20"
                                        (click)="CancelarPedido()">
                                        Cancelar Pedido
                                    </button>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-col-teal">
                <div class="panel-heading" role="tab" id="headingThree_17">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_17"
                            href="#collapseThree_17" aria-expanded="false" aria-controls="collapseThree_17">
                            <i class="material-icons">filter_3</i> Resultado
                        </a>
                    </h4>
                </div>
                <div *ngIf="pedido_completado" id="collapseThree_17" class="panel-collapse collapse" role="tabpanel"
                    aria-labelledby="headingThree_17">
                    <div class="row clearfix">
                        <div class="col-lg-6 m-t-15 p-20">
                            <div class="panel-body">
                                <div id="imp">
                                    <p>El Pedido se encuentra ingresado bajo en el siguiente código de seguimineto:</p>
                                    <p style="border: #666 dotted 1px; padding: 30px ">{{this.pedidoServicio.codigo}}
                                    </p>
                                </div>

                                <p><button
                                        printTitle="PronTop - Para realizar el seguimineto, ingrese a nuestro https://www.PronTop.com.ar "
                                        printSectionId="imp" ngxPrint><i class="material-icons">print</i>
                                        Imprimir
                                        código de seguimiento</button></p>


                                <div class="custom-dropzone  m-t-15" ngx-dropzone [accept]="'image/*'"
                                    (change)="onSelect($event)">
                                    <ngx-dropzone-label>
                                        <div>
                                            <h4>Agregar una foto del pedido</h4>
                                        </div>
                                    </ngx-dropzone-label>
                                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                        *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                    </ngx-dropzone-image-preview>
                                </div>
                                <button type="button" class="btn btn-block bg-default waves-effect m-r-20 m-t-20 m-b-20"
                                    (click)="subirFotoPedido()">
                                    Subir Foto
                                </button>
                            </div>


                            <form [formGroup]="formulariocodigo" id="formulariocodigo">
                                <div class="row m-t-15">
                                    <div class="col-md-7">
                                        <div class="font-bold col-pink msg m-l-30">
                                            <h5>Email de cliente para el chequeo de estados.</h5>
                                        </div>

                                    </div>

                                    <div class="col-md-5">
                                        <div class="form-group">
                                            email:<input type="email" formControlName="email" id="email"
                                                [(ngModel)]="cliente.email" required autofocus>
                                            <label id="email-error" class="error"
                                                for="email"><span>{{ getError(formulariocodigo, 'email')}}</span></label>
                                        </div>




                                        <button class="btn btn-block bg-pink waves-effect m-r-20"
                                            [disabled]="!formulariocodigo.valid" type="button" role="button"
                                            data-toggle="collapse" data-parent="#accordion_17" href="#collapseTwo_17"
                                            aria-expanded="false" aria-controls="collapseTwo_17"
                                            (click)="EnviarCodigo(this.pedidoServicio.codigo, cliente.email)">
                                            Enviar
                                        </button>

                                    </div>
                                </div>
                            </form>







                        </div>
                        <div class="col-lg-6 m-t-15 p-20">
                            <div class="panel-body">
                                <h4 style="border-bottom: #666 dotted 1px; ">Detalle Pedido</h4>

                                <table class="table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>und.</th>
                                            <th>Cant.</th>
                                            <th>Importe</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let productoPedido of productosPedidos">

                                            <td>{{productoPedido.nombre}}</td>
                                            <td>{{productoPedido.costo}}</td>
                                            <td>{{productoPedido.cantidad}}</td>
                                            <td>{{productoPedido.monto}}</td>

                                        </tr>

                                        <tr>
                                            <th>Total
                                            </th>
                                            <th></th>
                                            <th></th>
                                            <th>${{costoTotal}}</th>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-block bg-default waves-effect m-r-20 m-t-20 m-b-20"
                                    (click)="CancelarPedidoRealizado()">
                                    Cancelar Pedido Realizado
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>