<form novalidate #form="ngForm">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-lg-1">
                Fecha Inicial:
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <select class="form-control" name="dia" [(ngModel)]="dia" style="border: 1px solid blue">
                        <option *ngFor="let i of Fechavi" [value]="i.dia">{{ i.dia | diaFormat}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-1">
                Fecha Final:
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <select class="form-control" name="diaf" [(ngModel)]="diaf" style="border: 1px solid blue">
                        <option *ngFor="let f of Fechavf" [value]="f.diaf">{{ f.diaf | diaFormat}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>






    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="card">
                <div class="body bg-teal">
                    <div class="font-bold m-b--35">CANTIDAD DE OPERACIONES TOTAL POR SECTOR</div>
                    <ul class="dashboard-stat-list">
                        <li>
                            BARTENDERS
                            <span class="pull-right"><b>{{(ventasBartenders | rangoFecha: form.value).length}}</b>
                                <small></small></span>
                        </li>
                        <li>
                            COCINEROS
                            <span class="pull-right"><b>{{(ventasCocineros | rangoFecha: form.value).length}}</b>
                                <small></small></span>
                        </li>
                        <li>
                            MOZOS
                            <span class="pull-right"><b>{{(ventas | rangoFecha: form.value).length}}</b>
                                <small></small></span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12  col-md-3 col-lg-3">
            <div class="card">
                <div class="body bg-warning">
                    <div class="font-bold m-b--35">CANTIDAD DE OPERACIONES SECTOR BARTENDERS</div>
                    <ul class="dashboard-stat-list">
                        <li *ngFor="let b of bartenders">
                            <a (click)="cargarOperacionesEmpleado(b.empleado)" data-toggle="modal"
                                [attr.data-target]="'#' +b.empleado">
                                {{b.empleado}}
                                <span
                                    class="pull-right"><b>{{ventasBartenders | cantidadEmpleado: form.value: b.empleado}}</b>
                                    <small></small></span>
                            </a>

                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12  col-md-3 col-lg-3">
            <div class="card">
                <div class="body bg-warning">
                    <div class="font-bold m-b--35">CANTIDAD DE OPERACIONES SECTOR COCINEROS</div>
                    <ul class="dashboard-stat-list">

                        <li *ngFor="let c of cocineros">
                            <a (click)="cargarOperacionesEmpleado(c.empleado)" data-toggle="modal"
                                [attr.data-target]="'#' +c.empleado">
                                {{c.empleado}}
                                <span
                                    class="pull-right"><b>{{ventasCocineros | cantidadEmpleado: form.value: c.empleado}}</b>
                                    <small></small></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12  col-md-3 col-lg-3">
            <div class="card">
                <div class="body bg-warning">
                    <div class="font-bold m-b--35">CANTIDAD DE OPERACIONES SECTOR MOZOS</div>
                    <ul class="dashboard-stat-list">
                        <li *ngFor="let m of mozos">
                            <a (click)="cargarOperacionesEmpleado(m.empleado)" data-toggle="modal"
                                [attr.data-target]="'#' +m.empleado">
                                {{m.empleado}}
                                <span class="pull-right"><b>{{ventas | cantidadEmpleado: form.value: m.empleado}}</b>
                                    <small></small></span>

                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="fulano != undefiend" class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Detalle de {{fulano}}</h3>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Producto</th>
                        <th>Importe</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let v of ventasFulano | rangoFecha: form.value">
                        <td>{{v.dia | diaFormat}}</td>
                        <td>{{v.fecha_listo | dateFormat}}</td>
                        <td>{{v.nombre}}</td>
                        <td>{{v.costo}}</td>
                        <td>{{v.cantidad}}</td>
                    </tr>

                </tbody>
            </table>

            <button (click)="exportCSV(ventas,  form.value)" type="button"
                class="btn btn-success btn-circle waves-effect waves-circle waves-float">
                <i class="material-icons"> cloud_download</i>
            </button>
            CSV

        </div>

    </div>


    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Detalle de Todos</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Producto</th>
                        <th>Importe</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let v of ventas | rangoFecha: form.value">
                        <td>{{v.dia | diaFormat}}</td>
                        <td>{{v.fecha_listo | dateFormat}}</td>
                        <td>{{v.nombre}}</td>
                        <td>{{v.costo}}</td>
                        <td>{{v.cantidad}}</td>
                    </tr>

                </tbody>
            </table>

            <button (click)="exportCSV(ventas,  form.value)" type="button"
                class="btn btn-success btn-circle waves-effect waves-circle waves-float">
                <i class="material-icons"> cloud_download</i>
            </button>
            CSV

        </div>

    </div>

</form>