<app-menu></app-menu>


<section class="content">
    <div class="container-fluid" style="background-color:#e9e9e9;">

        <!--baja-->
        <div *ngIf="accion == 'baja'" class="row">

            <div class="col-lg-6">
                <div class="body">
                    <h2>BAJA DE PRODUCTO</h2>

                    <form [formGroup]="formBaja" id="formBaja" (submit)="bajaProducto()">

                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons"
                                    style="font-size:25px; vertical-align: middle;">crop_square</i>
                                NOMBRE:
                            </span>
                            <div class="form-line">
                                <input type="text" class="form-control" formControlName="nombreBaja" name="nombreBaja"
                                    id="nombreBaja" [(ngModel)]="nuevoProducto.nombre" required autofocus disable >
                            </div>
                            <label id="nombreBaja-error" class="error"
                                for="nombreBaja"><span>{{ getError(formBaja, 'nombreBaja')}}</span></label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons"
                                    style="font-size:25px; vertical-align: middle;">crop_square</i>Motivo
                                baja:
                            </span>
                            <div class="form-line">
                                <input type="text" class="form-control" id="motivoBaja" formControlName="motivoBaja"
                                    [(ngModel)]="nuevoProducto.motivo" name="motivoBaja" required>
                            </div>
                            <label id="motivoBaja-error" class="error"
                                for="motivoBaja"><span>{{getError(formBaja, 'motivoBaja')}}</span></label>
                        </div>




                        <button class="btn btn-block btn-lg bg-red waves-effect" [disabled]="!formBaja.valid" id="baja"
                            type="submit">Baja
                        </button>



                    </form>
                    <br>
                    <p class="font-bold col-pink"></p>

                </div>
            </div>
        </div>

        <div *ngIf="accion == 'modificar'" class="row">

            <h2>MODIFICACIÓN DE PRODUCTO</h2>

            <div class="row">

                <div class="col-lg-6">

                    <form [formGroup]="formMod" id="formMod" (submit)="modificarProducto()">


                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons" style="font-size:25px; vertical-align: middle;">person</i>
                                Nombre:
                            </span>
                            <div class="form-line">
                                <input type="text" class="form-control" formControlName="nombre" name="nombre"
                                    id="nombre" [(ngModel)]="nuevoProducto.nombre" required>
                            </div>
                            <label id="nombre-error" class="error"
                                for="nombre"><span>{{ getError(formMod, 'nombre')}}</span></label>
                        </div>


                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">attach_money</i> costo:
                            </span>
                            <div class="form-line">
                                <input type="number" class="form-control" [(ngModel)]="nuevoProducto.costo"
                                    class="form-control" formControlName="costo" name="costo" id="costo" required>
                            </div>
                            <label id="costo-error" class="error"
                                for="costo"><span>{{ getError(formMod, 'costo')}}</span></label>
                        </div>
                        <!--perfil-->
                        <div class="input-group mb-0" style="margin-bottom: 0; padding-bottom: 0">
                            <div class="row">
                                <div class="col-xs-3 m-0 p-0">
                                    <span class="input-group-addon">
                                        <i class="material-icons"
                                            style="font-size:25px; vertical-align: middle;">description</i>Categoría:</span>
                                </div>
                                <div class="col-xs-9">
                                    <select id="categoria" [(ngModel)]="nuevoProducto.categoria" name="categoria"
                                        class="form-control" formControlName="categoria" class="form-control show-tick"
                                        style="border: #00c3ff solid 1px; margin-bottom: 0; padding-bottom: 0"
                                        tabindex="-98">
                                        <option name="categoria" value="Bebida">Bebida</option>
                                        <option name="categoria" value="Plato">Plato</option>
                                        <option name="categoria" value="Entrada">Entrada</option>
                                        <option name="categoria" value="Postre">Postre</option>

                                    </select>
                                    <label id="categoria-error" class="error"
                                        for="categoria"><span>{{ getError(formMod, 'categoria')}}</span></label>
                                </div>
                            </div>
                        </div>
                        <!-- fin perfil-->

                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">description</i> descripción
                            </span>
                            <div class="form-line">
                                <input type="text" class="form-control" [(ngModel)]="nuevoProducto.descripcion"
                                    formControlName="descripcion" id="descripcion" name="descripcion" minlength="6"
                                    placeholder="descripcion" required>
                            </div>
                            <label id="descripcion-error" class="error"
                                for="descripcion"><span>{{ getError(formMod, 'descripcion')}}</span></label>
                        </div>



                        <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit"
                            [disabled]="!formMod.valid">Modificar producto</button>


                    </form>
                </div>
                <div class="col-lg-6">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div>
                                    <img src= "{{nuevoProducto.URL}}" style="height: 100%">
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </div>

                </div>


            </div>
        </div>
    </div>




</section>