
/*estilo spinnner*/
tspan { white-space:pre }
.shp0 { fill: #0000ff } 
.shp1 { fill: #cffffa } 
.shp2 { fill: #96cfc9 } 
.shp3 { fill: #a4e6fe } 
.shp4 { fill: #333333 } 
.shp5 { fill: #595857 } 
.shp6 { fill: #f37324 } 
.shp7 { fill: #ffd0a3 } 
.shp8 { fill: #ffe8d1 } 
.shp9 { fill: #828282 } 
.shp10 { fill: #a1a1a1 } 

.scroll-window {
    width: 100%;
    height: 300px;
    font-size: 13px;
    padding: 10px;
    font-size: 15px;
    line-height: 20px;
    color: #000;
}

  
