<div class="card" style="background-color:#fff;">
    <div class="body">
        <div *ngIf="pedido.encuesta != underfiend && pedido.encuesta != true && pedido.estado == 'finalizado'"
            class="container-fluid" style="background-color:#e9e9e9;">
            <app-encuesta [pedido]="pedido"></app-encuesta>
        </div>
        <div *ngIf="pedido.estado != underfined" class="container-fluid" style="background-color:#fff;">
            <h2>PEDIDO</h2>
            <h4>CODIGO: {{pedido.codigo}} </h4>
            <h4>ESTADO: {{pedido.estado}}</h4>
            <div class="progress" style="width: 100%">
                <div *ngIf="iniciado" id="pedido" class="progress-bar bg-yellow progress-bar-striped active"
                    role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="15" style="width: 15%">
                    <span *ngIf="pedido.estado == 'iniciado'">INICIADO</span>
                </div>
                <div *ngIf="pendiente" id="pendiente" class="progress-bar bg-teal progress-bar-striped active"
                    role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="15" style="width: 15%">
                    <span *ngIf="pedido.estado == 'pendiente'">PENDIENTE</span>
                </div>
                <div *ngIf="enpreparacion" id="en preparación"
                    class="progress-bar bg-orange progress-bar-striped active" role="progressbar" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="50" style="width: 50%">
                    <span *ngIf="pedido.estado == 'en preparación'">EN PREPARACION</span>
                </div>
                <div *ngIf="listo" id="listo para servir"
                    class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
                    aria-valuenow="15" aria-valuemin="0" aria-valuemax="15" style="width: 15%">
                    <span *ngIf="pedido.estado == 'listo para servir'">LISTO PARA SERVIR</span>
                </div>
                <div *ngIf="servido" id="servido" class="progress-bar bg-purple progress-bar-striped active"
                    role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 5%">
                    <span *ngIf="pedido.estado == 'servido'">SERVIDO!</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <figure>
                        <img src={{pedido.foto}} style="width: 100%;">
                    </figure>
                </div>
                <div *ngIf="falta > 0 && pedido.estado == 'en preparación'" class="col-xs-9">
                    <h3 class="col-blue-grey">El tiempo estimado de entrega es:{{falta}} minutos</h3>
                </div>

                <div *ngIf="falta < 0 && pedido.estado == 'en preparación'" class="col-xs-9">
                    <h3 class="col-blue-grey">Su pedido se encuentra demorado {{falta}} minutos.Estamos trabajando en
                        ello, sepa
                        disculpar las
                        molestias. </h3>
                </div>

                <div *ngIf="pedido.estado == 'listo para servir'" class="col-xs-9">
                    <h3 class="col-blue-grey">En breve le estaremos alcanzando su pedido... </h3>
                </div>

                <div *ngIf="pedido.estado == 'servido'" class="col-xs-9">
                    <h3 class="col-blue-grey">Esperamos que disfrute de su pedido, no dude en consultarnos cualquier
                        inquietud
                    </h3>
                </div>

                <div *ngIf="pedido.estado == 'finalizado'" class="col-xs-9">
                    <h3 class="col-blue-grey">Su pedido está finalizado. Esperamos que haya disfrutado de su pedido, no
                        dude en
                        consultarnos cualquier inquietud</h3>
                </div>

                <div *ngIf="pedido.estado == 'cancelado'" class="col-xs-9">
                    <h3 class="col-blue-grey">Su pedido fue cancelado. No dude en consultarnos cualquier inquietud</h3>
                </div>
            </div>
        </div>
    </div>
</div>